# Ignore Gradle project-specific cache directory
gradlew.bat

# Ignore Gradle build output directory
build
.classpath
.settings/
build.gradle
gradlew
settings.gradle
.gradle/
gradle/
.project
.gitattributes